{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": [1, { "argsIgnorePattern": "res|^err" }],
    "react/jsx-filename-extension": "off"
  },
  "globals": {
    "React": true
  }
}
